@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@500&display=swap");
body {
  font-family: Anuphan;
  margin: 0 !important;
  padding: 0;
  width: 100vw;
  height:100vh;
}

.h {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #336eda;
  align-items: center;
  font-family: Anuphan;
  text-align: center;
  padding: 15px;
  height: 80px;
}

#header {
  font-family: Anuphan;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  position: relative;
}

#header button {
  border: none;
  color: black;
  font-size: 30px;
  padding: 0 10px;
}

#prevBtn {
  margin-left: 20px;
}

#nextBtn {
  margin-right: 20px;
}

#header button:hover {
  background-color: #e0e0e0;
}

#header h3 {
  margin: 10px;
}

.list i {
  margin-left: 10%;
}

.non-slot {
  width: 30%;
}


h2 {
  margin-bottom: 20px;
}

form {
  max-width: 400px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button#form1 {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button #form1:hover {
  background-color: #45a049;
}

.logo{
  height: 100%;
}

.logo img {
  max-height: 100%;
}

.add{
  font-family: Anuphan;
  width: 30%;
  margin: auto auto;
}