.photo {
  width: 100%;
  height: auto;
}

.photo .container {
  width: 80%;
  height: auto;
}

.photo .container img {
    margin-top: 2rem;
  width: 100%;
  height: auto;
}

.photo .container center {
  font-family: Poppins;
  width: 100%;
  padding: 20px 0px;
}

.photo .container center button {
    font-family: Poppins;
  background-color: #1c4386;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.photo .container center button:hover {
  background-color: #fff;
  color: #1c4386;
  border: 1px solid #1c4386;
  transition: 0.5s;
}

.about {
  width: 100%;
  height: auto;
  padding: 20px 0px;
}

.about .container {
  width: 80%;
  height: auto;
}

.about .container h1 {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  color: #1c4386;
  text-align: left;
  transition: all 0.3s ease;
}

.about .container h1:hover {
  padding-left: 8px;
}

.about .container .box {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  text-align: justify;
  padding: 30px;
}

.facilities {
  width: 100%;
  height: auto;
  padding: 20px 0px;
}

.facilities .container {
  width: 80%;
  height: auto;
}

.facilities .container h1 {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  color: #1c4386;
  text-align: left;
    transition: all 0.3s ease;
}

.facilities .container h1:hover {
  padding-left: 8px;
}

:root{
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}


.hero-section{
  align-items: flex-start;
  display: flex;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.card{
  list-style: none;
  position: relative;
  height: 100%;
}

.card:before{
  content: '';
  display: block;
  height: 100%;
  padding-bottom: 100%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  /* transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear; */
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
  transition: 0.3s ease-in-out;
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(2px);
}

.card-grid:hover > .card:not(:hover) .card__content{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content h3{
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
  font-family: Poppins;
  font-size: 1.5rem;
  margin: 1rem;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
}

.eligiblity {
  width: 100%;
  height: auto;
  padding: 20px 0px;
}

.eligiblity .container {
  width: 80%;
  height: auto;
}

.eligiblity .container h1 {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  color: #1c4386;
  text-align: left;
    transition: all 0.3s ease;
}

.eligiblity .container h1:hover {
  padding-left: 8px;
}

.eligiblity ul {
  list-style-type: none;
  padding-left: 0;
}

.eligiblity .container .box {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  text-align: left;
  padding: 0 30px;
}

.eligiblity .inner{
  margin-left: 1rem;
}

.guidelines {
  width: 100%;
  height: auto;
  padding: 20px 0px;
}

.guidelines .container {
  width: 80%;
  height: auto;
}

.guidelines .container h1 {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  color: #1c4386;
  text-align: left;
    transition: all 0.3s ease;
}

.guidelines .container h1:hover {
  padding-left: 8px;
}

.guidelines ul {
  list-style-type: none;
  padding-left: 0;
}

.guidelines .container .box {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  text-align: left;
  padding: 0 30px;
}

.guidelines .inner{
  margin-left: 1rem;
}

.important{
  width: 100%;
  height: auto;
  padding: 20px 0px;
}

.important .container {
  width: 80%;
  height: auto;
}

.important .container h1 {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  color: #1c4386;
  text-align: left;
    transition: all 0.3s ease;
}

.important .container h1:hover {
  padding-left: 8px;
}

.important .container .box {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  text-align: left;
  padding: 0 30px;
}

.important ul{
  list-style-type: disc;
}

.objectives{
  width: 100%;
  height: auto;
  padding: 20px 0px;
}

.objectives .container {
  width: 80%;
  height: auto;
}

.objectives .container h1 {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  color: #1c4386;
  text-align: left;
    transition: all 0.3s ease;
}

.objectives .container h1:hover {
  padding-left: 8px;
}

.objectives .container .box {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  text-align: left;
  padding: 0 30px;
}

.incubatees {
  width: 100%;
  height: auto;
  padding: 20px 0px;
}

.incubatees .container {
  width: 80%;
  height: auto;
}

.incubatees .container h1 {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  color: #1c4386;
  text-align: left;
    transition: all 0.3s ease;
}

.incubatees .container h1:hover {
  padding-left: 8px;
}

.container2 {
  width: 100%;
  align-items: center;
  display: flex;
  font-family: Poppins;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.person {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 200px;
  margin: 1rem;
}
.container-inner {
  /* border-radius: 50%; */
  height: 150px;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.48);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img {
  pointer-events: none; 
  position: relative; 
  transform: translateY(20px);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img img{
  height: 100%;
}

.container-inner:hover .img {
  transform: translateY(0) scale(1.2);
}
.divider {
  background-color: #ca6060;
  height: 1px;
  width: 160px;
}
.name {
  color: #404245;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
}