{% extends 'base.html' %}
{% load static %}
{% block Title %} Booking {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/cal.css' %}" />
    {% comment %} <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    /> {% endcomment %}
    
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/bootstrap-icons.min.css" rel="stylesheet" />
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-...your-integrity-hash...=" crossorigin="anonymous">
{% endblock %}
{% block content %}
    <input type="hidden" name="status" class="status" id="status" value="{{status}}">


    <div id="header">
      <form action="{% url 'booking' %}" method="POST" id="form1">
        {% csrf_token %}
        <button type="submit" id="prevBtn" name="form1"><i class="bi bi-caret-left-fill"></i></button>
      </form>
      <h3 id="a">{{date}}</h3>
      <form action="{% url 'booking' %}" method="POST" id="form2">
        {% csrf_token %}
        <button type="submit" id="nextBtn" name="form1"><i class="bi bi-caret-right-fill"></i></button>
      </form>
      <div class="date-picker-container">
              <form action="{% url 'index' %}" method="POST" id="form4">
        {% csrf_token %}
        <input type="date" name="form4" class="myDate" id="myDate" />
                  </form>
      </div>

    </div>
    <table id="calendar" class="table table-bordered">
      <thead>
        <tr class="text-center">
          <th class="slot">Time Slot</th>
          <th>Meeting Room 1 - 1st Floor</th>
          <th>Meeting Room 1 - 2nd Floor</th>
          <th>Meeting Room 2 - 2nd Floor</th>
        </tr>
      </thead>
      <tbody>
        {% for i in times %}
        <tr>
          <td id="time-{{ i }}" class="slot">{{ i }}</td>
          {% for j in r %}
          <td id="cell-{{ i }}-{{ j }}" class="table-cells non-slot">
            {% for k in timeslots %} 
              {% if k.room == j and k.slot == i %} 
                {% if k.email == user.email %}
                  Booked by You
                {% else %}
                  Booked by {{ k.name }} <br> {% if user.is_staff %}
                  {{k.reason}}
                  {% endif %}
                {% endif %}
              {% endif %} 
            {% endfor %}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <form action="" method="POST" id="bookingForm" onsubmit="return validateForm()">
      {% csrf_token %}
      <input type="hidden" name="name" id="name" value="{{user.first_name}} {{user.last_name}}" />
      <input type="text" class="reason" name="reason" id="reason" placeholder="Enter a reason in 4-5 words" maxlength="50" required></input>
      <button id="bookBtn" class="center" name="form2">Book</button>
    </form>
{% endblock %}
{% block js %}
    <script src="{% static 'js/cal.js'%}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
{% endblock %}
