{% extends 'base.html' %}
{% load static %}
{% block Title %}Delete Slot {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/deletecal.css' %}" />  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/bootstrap-icons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-...your-integrity-hash...=" crossorigin="anonymous">
{% endblock %}
{% block content %}
    <div id="header">
      <form action="{% url 'delete' %}" method="POST" id="form1">
        {% csrf_token %}
        <button type="submit" id="prevBtn" name="form1">&lt;</button>
      </form>
      <h3 id="a">{{date}}</h3>
      <form action="{% url 'delete' %}" method="POST" id="form2">
        {% csrf_token %}
        <button type="submit" id="nextBtn" name="form1">&gt;</button>
      </form>
      <div style="position: absolute; top: 10px; right: 10px"></div>
    </div>
    <table id="calendar" class="table table-bordered">
      <thead>
        <tr class="text-center">
          <th class="slot">Time Slot</th>
          <th>Meeting Room - 1st Floor</th>
          <th>Meeting Room 1 - 2nd Floor</th>
          <th>Meeting Room 2 - 2nd Floor</th>
        </tr>
      </thead>
      <tbody>
        {% for i in times %}
        <tr>
          <td id="time-{{ i }}" class="slot">{{ i }}</td>
          {% for j in r %}
          <td id="cell-{{ i }}-{{ j }}" class="table-cells non-slot">
            {% for k in timeslots %} 
              {% if k.room == j and k.slot == i %} 
                {% if user.is_staff %}
                  Booked by {{ k.name }} <br> {{k.reason}}
                {% elif k.email == user.email %}
                  Booked by You
                {% else %}
                  Booked
                {% endif %}
              {% endif %} 
            {% endfor %}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <form action="" method="POST" id="bookingForm">
      {% csrf_token %}
      <input type="hidden" name="name" id="name" value="{{user.first_name}} {{user.last_name}}" />
      <button id="bookBtn" class="center" name="form2">Delete</button>
    </form>
{% endblock %}
{% block js %}
    <script src="{% static 'js/deletecal.js'%}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
{% endblock %}  
