{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/nidhiprayas.css' %}" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
/>

{% endblock %} {% block Title %} Nidhi Prayas {% endblock %} {% block content %}
<div class="photo">
  <div class="container">
    <img src="{% static 'assets/incubation.png' %}" alt="incubation" />
    <center>
      <button class="btn btn-primary">Apply Now</button>
    </center>
  </div>
</div>
<div class="about">
  <div class="container">
    <h1>ABOUT</h1>
    <div class="box">
      NIDHI-PRAYAS (NIDHI-PRomotion and Acceleration of Young and Aspiring technology entrepreneur) is an umbrella program conceived and developed by the Department of Science & Technology, Government of India, for nurturing ideas and innovations (knowledge-based and technology-driven) into successful startups. The program works in line with the national priorities and goals and its focus is to build an innovation driven entrepreneurial ecosystem with an objective of socioeconomic development through wealth and job creation.
      <br />
      NIDHI-PRAYAS extends an invitation to receive prototype funding, spanning from the inception of an idea to its realization. This NIDHI scheme assists start-ups in bridging the early-stage gap by supporting them in transforming their ideas into product prototypes with promising commercial potential. Innovators are encouraged to utilize the PRAYAS grant as a means to materialize their concepts into tangible prototypes.
        <br />
      We welcome students, graduates, professionals, and startups with creative concepts to submit applications for a prototyping grant offered through the NIDHI PRAYAS program. This initiative aims to foster ideas and innovations in knowledge-based and technology-driven ventures, nurturing the potential for successful startups.
        <br />
      The Nidhi Prayas programme provides prototype grant up to INR 10 Lacs.
      </ul>
    </div>
  </div>
</div>
<div class="objectives">
  <div class="container">
    <h1>Objectives</h1>
    <div class="box">
      <ul style="list-style-type:number">
        <li>To enable the translation of an innovative idea to a prototype.</li>
        <li>To aid innovators in converting their idea into a prototype.</li>
        <li>
          To offer a framework for expedited experimentation and adaptation of approaches throughout the journey from ideation to market.
        </li>
        <li>
          To indigenously generate innovative solutions relevant to the local and global problems.
        </li>
        <li>
          To elevate the pipeline, both in terms of quality and quantity of innovative start-ups reaching the incubators.
        </li>
        <li>
          To foster a dynamic innovation ecosystem, create connections among innovators, academia, mentors, and incubators.
        </li>
        <li>
          To captivate a significant cohort of young individuals showcasing a passion for problem-solving and adeptness in launching their own startups driven by new technology, knowledge, and innovation.
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="eligiblity">
  <div class="container">
    <h1>Eligiblity Criteria</h1>
    <div class="box">
      <ul style="list-style-type:disc">
        <li>An individual innovator without having a startup or founder of a startup can apply for Prayas grant.</li>
        <li>In case of an applicant being an individual innovator without having a startup applying for PRAYAS:
          <ul style="list-style-type: circle" class="inner">
            <li>The applicant has to be an Indian Citizen with a government approved proof of nationality such as a valid passport, voter’s id etc.</li>
            <li>The applicant should be minimum of 18 years of age, as on the date of application.</li>
            <li>If the applicant works in a team with other innovators there has to be an agreement among the team about the lead innovator who would apply, and the funds will be transferred to the lead innovator’s account (after selection). IP generated would vest with the innovator or with the team as per the agreement and it would be further taken for commercialization.</li>
          </ul>
        </li>
        <li>In case of an applicant being a co-founder of a Startup applying for PRAYAS:
          <ul style="list-style-type: circle" class="inner">
            <li>The applicant has to be an Indian citizen with a government approved proof of nationality such as a valid passport, voter’s id etc.</li>
            <li>The applicant should be minimum of 18 years of age, as on the date of application.</li>
            <li>The startup should be incorporated in India with a minimum 51% of its equity held by Indian citizens.</li>
            <li>The startup should not be more than 7 years of existence.</li>
            <li>The startup wants to develop the prototype for a new product, for which they have not received support from any other funding agency.</li>
            <li>The startup should not have annual turnover exceeding Rs. 25 lakhs for any of the financial years since its inception.</li>
            <li>IP generated would vest with the start up.</li>
          </ul>
        </li>
        <li>
          Preference may be given to the innovators:
          <ul style="list-style-type: circle" class="inner">
            <li>having bootstrapped or have co-investment commitments.</li>
            <li>having clear roadmap for commercialization or start up creation</li>
            <li>Women innovators</li>
            <li>Young innovators</li>
          </ul>
        </li>
        <li>
          PRAYAS grant is Proof-of-concept grant for converting idea and innovations into a prototype. Proposals for the products having crossed the prototype level are not eligible for support under NIDHI-PRAYAS.
        </li>
        <li>
          The ideas and innovations should be based on technology and science.
        </li>
        <li>
          The product prototype has to be a physical product.
        </li>
        <li>
          Applicants can be individual innovators or early-stage startups.
        </li>
        <li>
          Applicants will have ownership of the Project knowhow or IP of the proposed products or right to use knowhow or IP if it is owned by a third party.
        </li>
        <li>
          Prototype must be capable of being completed within 18 months.
        </li>
        <li>
          Innovators should have technical skills or background.
        </li>
        <li>
          Idea or Innovations should have a roadmap towards commercialization.
        </li>
      </ul>
    </div>
    <h1>Not Eligible</h1>
    <div class="box">
      <ul style="list-style-type: disc">
        <li>Prototypes associated with pure software development, e-commerce, service solutions, and app-based solutions.</li>
        <li>Students who are applicants engaged in long-term research endeavors such as doctoral research projects or similar undertakings.</li>
        <li>Supporting research or student internships in academic institutions or R&D organizations through funding.</li>
      </ul>
    </div>
  </div>
</div>
<div class="guidelines">
  <div class="container">
    <h1>GENERAL GUIDELINES</h1>
    <div class="box">
      <ul>
        <li>The employment innovators or students in pursuit must request for a No Objection Certificate (NOC) from their respective organization or educational institution, which should encompass two aspects: granting permission to apply for PRAYAS and allowing ample time to dedicate to the PRAYAS project, as well as acknowledging that the intellectual property (IP) produced will be owned by the innovator.</li>
        <li>After successfully completing the TBI'S selection process, the NIDHI PRAYAS grantee must enroll in the pre-incubation or incubation program at the TBI and remain registered for the entire duration of the program.</li>
        <li>The NIDHI PRAYAS grantee must wholeheartedly dedicate themselves to the development of the prototype, for which they are seeking support, and should not view this as a temporary solution to assist in other endeavors.</li>
      </ul>
    </div>
    <h1>Guidelines for use of Funds by the Prayasee</h1>
    <div class="box">
      <ul style="list-style-type:none" class="outer">
        <li><strong><h3>CAN BE USED FOR:</h3></strong> 
          <ul style="list-style-type: disc" class="inner">
            <li>Outsourcing Charges for R&D/ Design Engg/ Consultancy/ Testing/ Expert cost</li>
            <li>Raw material/ Consumables/ Spares</li>
            <li>Fabrication / Synthesis charges of a working model or process</li>
            <li>Business Travel and Event participation Fees (Ceiling 10% of approved project cost)</li>
            <li>Patent filing Cost – (PCT - Ceiling 10% of approved project cost)</li>
            <li>Contingency - (Ceiling 10% of approved project cost)</li>
            <li>The funds should be mainly utilized for prototype development work/proof of concept</li>
          </ul>
        </li>
        <br />
        <li><strong><h3>CANNOT BE USED FOR:</h3></strong>
          <ul style="list-style-type: disc" class="inner">
            <li>To pay the grantee/relatives.</li>
            <li>To repay loans/ commitments made earlier.</li>
            <li>As a stop gap arrangement to support any other professional pursuits.</li>
            <li>To pay usage charges to the Incubator from the PRAYAS grant. Grantee can use other funds to pay any such charges, if any</li>
            <li>To pay rent of own accommodation, creation of infrastructure facility like a shed, etc should not form the component of support/funds.</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="facilities">
  <div class="container">
    <h1>Facilities Provided</h1>
    
<div class="hero-section">
  <div class="card-grid">
    <a class="card" href="#">
      <div class="card__background" style="background-image: url('{% static 'assets/features/office.jpg' %}')"></div>
      <div class="card__content">
        <h3 class="card__heading">Co-working spaces for developing ideas into Prototypes.</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url('{% static 'assets/features/techlab.jpg' %}')"></div>
      <div class="card__content">
        <h3 class="card__heading">Access to various labs such as Prayas lab, IoT lab, digital lab, robotics lab, electronics lab, mechanics lab and libraries.</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url('{% static 'assets/features/mentoring.jpg' %}')"></div>
      <div class="card__content">
        <h3 class="card__heading">Mentorship, Networking, participation in various Startup / entrepreneurship-based events.</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url('{% static 'assets/features/talentpool.jpg' %}')"></div>
      <div class="card__content">
        <h3 class="card__heading">Support to Talent Acquisition.</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url('{% static 'assets/features/funding.jpg' %}')"></div>
      <div class="card__content">
        <h3 class="card__heading">A prototype grant up to Rs. 10,00,000/- to build their ideas into prototypes.</h3>
      </div>
    </a>
  <div>
  </div>
  </div>
</div>
</div>
</div>
<div class="important">
  <div class="container">
    <h1>Important Points</h1>
    <div class="box">
      <ul>
        <li>PRAYAS support is in form of the grant which will be maximum upto Rs.10 lakhs.</li>
        <li>PRAYAS applications will be subject to Decision of the committee members of the PC where innovator has applied. The decision of approval or rejection or reduced amount by the committee shall remain final and binding on the innovator.</li>
        <li>
          The project duration is 18 months. Prototype must be completed within maximum 18 months from receiving the first tranche of the grant.
        </li>
        <li>
          For incomplete projects, PRAYASEE must return unutilized amount of the grant.
        </li>
        <li>
          If innovator has already started a venture, Innovators should assign the IP ownership right to the startups.
        </li>
        <li>
          Innovators or Start-up teams cannot avail NIDHI PRAYAS Support for more than once nor from more than one Centre. Innovators shall also not be supported in parallel under NIDHI-EIR and NIDHI-PRAYAS. Innovators will give declaration at the time of making application indicating that they have not received support under NIDHIPRAYAS for the same idea or NIDHI-EIR.
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="incubatees">
  <div class="container">
  <h1>Our Funded Incubatees</h1>
  <div class="container2">
    <div class="person">
        <div class="container-inner">
          <img
            class="img img1"
            src="{% static 'assets/incubatees/aas_vidyalaya.jpg' %}"
          />
        </div>
      <div class="divider"></div>
      <div class="name">AAS Vidyalaya</div>
    </div>
    <div class="person">
        <div class="container-inner">
          <img
            class="img img2"
            src="{% static 'assets/incubatees/eatabl.png' %}"
          />
        </div>
      <div class="divider"></div>
      <div class="name">Eatabl</div>
    </div>
    <div class="person">
        <div class="container-inner">
          <img
            class="img img3"
            src="{% static 'assets/incubatees/peartech.png' %}"
          />
        </div>
      <div class="divider"></div>
      <div class="name">Peartech</div>
    </div>
    <div class="person">
      <div class="container-inner">
          <img
            class="img img1"
            src="{% static 'assets/incubatees/rama_life_science.png' %}"
          />
      </div>
      <div class="divider"></div>
      <div class="name">Rama Life Science</div>
    </div>
    <div class="person">
        <div class="container-inner">
          <img
            class="img img1"
            src="{% static 'assets/incubatees/Skinzy.png' %}"
          />
        </div>
      <div class="divider"></div>
      <div class="name">Skinzy</div>
    </div>
    <div class="person">
        <div class="container-inner">
          <img
            class="img img1"
            src="{% static 'assets/incubatees/zeuva.png' %}"
          />
        </div>
      <div class="divider"></div>
      <div class="name">Zeuva</div>
    </div>
  </div>
</div>
{% endblock %}
