{% extends 'base.html' %} {% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/pgtemp.css' %}" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
/>

{% endblock %} {% block Title %} {{page_template.title}} {% endblock %} {% block content %}
<div class="photo">
  <div class="container">
    <img src="{{page_template.banner.url}}" alt="incubation" />
    {% if page_template.link %}
    <center>
      <a href="{{page_template.link}}"><button class="btn btn-primary">Apply Now</button></a>
    </center>
    {% endif %}
  </div>
</div>
<div class="about">
  <div class="container">
    <h1>ABOUT</h1>
    <div class="box">
      {{page_template.about}}
      </ul>
    </div>
  </div>
</div>
{% if page_template.objectives %}
<div class="objectives">
  <div class="container">
    <h1>Objectives</h1>
    <div class="box">
      <ul style="list-style-type:number">
        {% for line in objectives_list %}
            <li>{{ line }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}
{% if page_template.broadcovered %}
<div class="eligiblity">
  <div class="container">
    <h1>Broad Areas Covered Under {{page_template.title}}</h1>
    <div class="box">
      <ul style="list-style-type:disc">
        {% for line in broadcovered_list %}
            <li>{{ line }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}
{% if page_template.broadnotcovered %}
<div class="eligiblity">
  <div class="container">
    <h1>Broad Areas Covered Under {{page_template.title}}</h1>
    <div class="box">
      <ul style="list-style-type:disc">
        {% for line in broadnotcovered_list %}
            <li>{{ line }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}
{% if page_template.eligible %}
<div class="eligiblity">
  <div class="container">
    <h1>Eligiblity Criteria</h1>
    <div class="box">
      <ul style="list-style-type:disc">
        {% for line in eligibility_list %}
            <li>{{ line }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}
{% if page_template.noteligible %}
<div class="eligiblity">
  <div class="container">
    <h1>Not Eligible </h1>
    <div class="box">
      <ul style="list-style-type:disc">
        {% for line in noteligible_list %}
            <li>{{ line }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}
{% if page_template.guidelines %}
<div class="guidelines">
  <div class="container">
    <h1>GENERAL GUIDELINES</h1>
    <div class="box">
      <ul style="list-style-type:number">
        {% for line in guidelines %}
            <li>{{ line }}</li>
        {% endfor %}
    </div>
  </div>
</div>
{% endif %}
{% if page_template.facilities %}
<div class="facilities">
    <div class="container">
    <h1>Facilities Provided</h1>    
        <div class="hero-section">
            <div class="card-grid">
                {% for card in page_template.facilities.all %}
                <a class="card" href="#" style="background-image: url('{{card.image.url}}'); background-size: cover;">
                <div class="card__content">
                    <h3 class="card__heading">{{card.name}}</h3>
                </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if page_template.benefits %}
<div class="important">
  <div class="container">
    <h1>Benefits</h1>
    <div class="box">
      <ul>
        {% for line in benefits %}
            <li>{{ line }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}
{% if years %}
<div class="incubatees">
  {% for year in years%}
  <div class="container">
  <h1>Year {{year.yearNo}} Projects / Incubatees</h1>
  <div class="container2">
    {% for project in year.projects.all %}
    <div class="person">
        <div class="container-inner">
          <<a href="{{project.projectlink}}"><img
            class="img img1"
            src="{{project.image.url}}"
          /></a>
        </div>
      <div class="divider"></div>
      <div class="name"><a href="{{project.company_website}}">{{project.projectName}}</a></div>
    </div>
    {% endfor %}
    {% for project in year.incubatees.all %}
    <div class="person">
        <div class="container-inner">
          <a href="{{project.company_website}}"><img
            class="img img1"
            src="{{project.logo.url}}"
          /></a>
        </div>
      <div class="divider"></div>
      <div class="name"><a href="{{project.company_website}}">{{project.company_name}}</a></div>
    </div>
    {% endfor %}
  </div>
</div>
{% endfor %}
</div>
{% endif %}
{% endblock %}
