{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/sisfs.css' %}" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
/>

{% endblock %} {% block Title %} Startup India Seed Fund Scheme {% endblock %} {% block content %}
<div class="photo">
  <div class="container">
    <img src="{% static 'assets/incubation.png' %}" alt="incubation" />
    <center>
      <button class="btn btn-primary">Apply Now</button>
    </center>
  </div>
</div>
<div class="about">
  <div class="container">
    <h1>ABOUT</h1>
    <div class="box">
      <p>Easy availability of capital is essential for entrepreneurs at the early stages of growth of an enterprise. Funding from angel investors and venture capital firms becomes available to startups only after the proof of concept has been provided. Similarly, banks provide loans only to asset- backed applicants. It is essential to provide seed funding to startups with an innovative ideas to conduct proof of concept trials.</p>
      <p>SP-TBI with the help of Startup India Seed Fund Scheme (SISFS) aims to provide financial assistance to startups for proof of concept, prototype development, product trials, market entry and commercialization. This would enable these startups to graduate to a level where they will be able to raise investments from angel investors or venture capitalists or seek loans from commercial banks or financial institutions.</p>
      <p>The SISFS provides up to INR 20 Lakhs as grant for validation of Proof of Concept, or prototype development, or product trials. The grant shall be disbursed in milestone-based installments. These milestones can be related to the development of a prototype, product testing, building a product ready for market launch, etc.</p>
      <p>And this scheme provides up to INR 50 Lakhs of investment to the startups for market entry, commercialization, or scaling up through convertible debentures or debt or debt-linked instruments.</p>
      </ul>
    </div>
  </div>
</div>
<div class="objectives">
  <div class="container">
    <h1>Objectives</h1>
    <div class="box">
      <ul style="list-style-type:number">
        <li>The Indian startup ecosystem suffers from capital inadequacy in the seed and ‘Proof of Concept’ development stage. The capital required at this stage often presents a make-or- break situation for startups with good business ideas.</li>
        <li>Many innovative business ideas fail to take off due to the absence of this critical capital required at an early stage for proof of concept, prototype development, product trials, market entry and commercialization.</li>
        <li>
          Seed Fund offered to such promising cases can have a multiplier effect in validation of business ideas of many startups, leading to employment generation.
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="eligiblity">
  <div class="container">
    <h1>Eligiblity Criteria</h1>
    <div class="box">
      <ul style="list-style-type:disc">
        <li>A startup, recognized by DPIIT, incorporated not more than 2 years ago at the time of application</li>
        <li>Startup must have a business idea to develop a product or a service with market fit, viable commercialization, and scope of scaling.</li>
        <li>Startup should be using technology in its core product or service, or business model, or distribution model, or methodology to solve the problem being targeted.</li>
        <li>
          Preference would be given to startups creating innovative solutions in sectors such as social impact, waste management, water management, financial inclusion, education, agriculture, food processing, biotechnology, healthcare, energy, mobility, defence, space, railways, oil and gas, textiles, etc.</li>
        <li>
          Startup should not have received more than Rs 10 lakh of monetary support under any other Central or State Government scheme. This does not include prize money from competitions and grand challenges, subsidized working space, founder monthly allowance, access to labs, or access to a prototyping facility.
        </li>
        <li>
          Shareholding by Indian promoters in the startup should be at least 51% at the time of application to the incubator for the scheme, as per the Companies Act, 2013 and SEBI (ICDR) Regulations, 2018.
        </li>
      </ul>
    </div>
    <h1>Not Eligible</h1>
    <div class="box">
      <ul style="list-style-type: disc">
        <li>Prototypes associated with pure software development, e-commerce, service solutions, and app-based solutions.</li>
        <li>Students who are applicants engaged in long-term research endeavors such as doctoral research projects or similar undertakings.</li>
        <li>Supporting research or student internships in academic institutions or R&D organizations through funding.</li>
      </ul>
    </div>
  </div>
</div>
<div class="guidelines">
  <div class="container">
    <h1>GENERAL GUIDELINES</h1>
    <div class="box">
      <ul>
        <li>The employment innovators or students in pursuit must request for a No Objection Certificate (NOC) from their respective organization or educational institution, which should encompass two aspects: granting permission to apply for PRAYAS and allowing ample time to dedicate to the PRAYAS project, as well as acknowledging that the intellectual property (IP) produced will be owned by the innovator.</li>
        <li>After successfully completing the TBI'S selection process, the NIDHI PRAYAS grantee must enroll in the pre-incubation or incubation program at the TBI and remain registered for the entire duration of the program.</li>
        <li>The NIDHI PRAYAS grantee must wholeheartedly dedicate themselves to the development of the prototype, for which they are seeking support, and should not view this as a temporary solution to assist in other endeavors.</li>
      </ul>
    </div>
    <h1>Guidelines for use of Funds by the Prayasee</h1>
    <div class="box">
      <ul style="list-style-type:none" class="outer">
        <li><strong><h3>CAN BE USED FOR:</h3></strong> 
          <ul style="list-style-type: disc" class="inner">
            <li>Outsourcing Charges for R&D/ Design Engg/ Consultancy/ Testing/ Expert cost</li>
            <li>Raw material/ Consumables/ Spares</li>
            <li>Fabrication / Synthesis charges of a working model or process</li>
            <li>Business Travel and Event participation Fees (Ceiling 10% of approved project cost)</li>
            <li>Patent filing Cost – (PCT - Ceiling 10% of approved project cost)</li>
            <li>Contingency - (Ceiling 10% of approved project cost)</li>
            <li>The funds should be mainly utilized for prototype development work/proof of concept</li>
          </ul>
        </li>
        <br />
        <li><strong><h3>CANNOT BE USED FOR:</h3></strong>
          <ul style="list-style-type: disc" class="inner">
            <li>To pay the grantee/relatives.</li>
            <li>To repay loans/ commitments made earlier.</li>
            <li>As a stop gap arrangement to support any other professional pursuits.</li>
            <li>To pay usage charges to the Incubator from the PRAYAS grant. Grantee can use other funds to pay any such charges, if any</li>
            <li>To pay rent of own accommodation, creation of infrastructure facility like a shed, etc should not form the component of support/funds.</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="facilities">
  <div class="container">
    <h1>Benefits</h1>
    
<div class="hero-section">
  <div class="card-grid">
    <a class="card" href="#">
      <div class="card__background" style="background-image: url('{% static 'assets/features/talentpool.jpg' %}')"></div>
      <div class="card__content">
        <h3 class="card__heading">An investment of up to INR 50 Lakhs in the form of convertible debentures or debt or debt- linked instruments for market entry, commercialization, or scaling up.</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url('{% static 'assets/features/funding.jpg' %}')"></div>
      <div class="card__content">
        <h3 class="card__heading">A prototype grant up to INR 20 Lakhs for validation of Proof of Concept, or prototype development, or product trials.</h3>
      </div>
    </a>
  <div>
  </div>
  </div>
</div>
</div>
</div>
<div class="important">
  <div class="container">
    <h1>Important Points</h1>
    <div class="box">
      <ul>
        <li>PRAYAS support is in form of the grant which will be maximum upto Rs.10 lakhs.</li>
        <li>PRAYAS applications will be subject to Decision of the committee members of the PC where innovator has applied. The decision of approval or rejection or reduced amount by the committee shall remain final and binding on the innovator.</li>
        <li>
          The project duration is 18 months. Prototype must be completed within maximum 18 months from receiving the first tranche of the grant.
        </li>
        <li>
          For incomplete projects, PRAYASEE must return unutilized amount of the grant.
        </li>
        <li>
          If innovator has already started a venture, Innovators should assign the IP ownership right to the startups.
        </li>
        <li>
          Innovators or Start-up teams cannot avail NIDHI PRAYAS Support for more than once nor from more than one Centre. Innovators shall also not be supported in parallel under NIDHI-EIR and NIDHI-PRAYAS. Innovators will give declaration at the time of making application indicating that they have not received support under NIDHIPRAYAS for the same idea or NIDHI-EIR.
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="incubatees">
  <div class="container">
  <h1>Our Funded Incubatees</h1>
  <div class="container2">
    <div class="person">
        <div class="container-inner">
          <img
            class="img img1"
            src="{% static 'assets/incubatees/aas_vidyalaya.jpg' %}"
          />
        </div>
      <div class="divider"></div>
      <div class="name">AAS Vidyalaya</div>
    </div>
    <div class="person">
        <div class="container-inner">
          <img
            class="img img2"
            src="{% static 'assets/incubatees/eatabl.png' %}"
          />
        </div>
      <div class="divider"></div>
      <div class="name">Eatabl</div>
    </div>
    <div class="person">
        <div class="container-inner">
          <img
            class="img img3"
            src="{% static 'assets/incubatees/peartech.png' %}"
          />
        </div>
      <div class="divider"></div>
      <div class="name">Peartech</div>
    </div>
    <div class="person">
      <div class="container-inner">
          <img
            class="img img1"
            src="{% static 'assets/incubatees/rama_life_science.png' %}"
          />
      </div>
      <div class="divider"></div>
      <div class="name">Rama Life Science</div>
    </div>
    <div class="person">
        <div class="container-inner">
          <img
            class="img img1"
            src="{% static 'assets/incubatees/Skinzy.png' %}"
          />
        </div>
      <div class="divider"></div>
      <div class="name">Skinzy</div>
    </div>
    <div class="person">
        <div class="container-inner">
          <img
            class="img img1"
            src="{% static 'assets/incubatees/zeuva.png' %}"
          />
        </div>
      <div class="divider"></div>
      <div class="name">Zeuva</div>
    </div>
  </div>
</div>
{% endblock %}
